html
{
	margin:0px;
    overflow-y:scroll;
	user-select: none;
}
td
{
	font-family:Arial, Helvetica, sans-serif;
}
body
{
	font-size:15px;
	margin:10px 25px 50px 25px;
	text-align:center;
	background-image:linear-gradient(rgba(200,200,255,1), white);
	background-repeat:no-repeat;
    background-attachment:fixed;
	-webkit-text-size-adjust:none;
}
input, label, select, .clicky, button
{
	font-family:Arial, Helvetica, sans-serif;
	cursor:pointer
}
input[type=text]
{
	cursor:text
}
canvas
{
	border:1px solid #000000;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.75);
}
#issueText
{
	font-size:85%;
	padding:1px 3px 1px 3px;
	font-family:Arial, Helvetica, sans-serif;
	background-color:rgba(255, 255, 255, 1);
}
.clickableTextBubble
{
	font-size:110%;
	padding:2px 5px 2px 5px;
	font-family:Arial, Helvetica, sans-serif;
	background-color:rgba(235, 235, 255, 1);
	border-radius:11px;
	border:1px solid rgba(0, 0, 0, 0.3);
	cursor:pointer
}
#tabContents
{
	padding:10px;
	background-color:#F5F5F5;
	border-left:1px solid #000000;
	border-bottom:1px solid #000000;
	border-right:1px solid #000000;
}
#blocker
{
	display:none;
	z-index:10;
	left:0px;
	top:0px;
	position:fixed;
	opacity:0.75;
	width:100%;
	height:100%;
	background-color:rgba(25, 16, 48, 1)
}
#blocker img
{
	left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
#hoverControls
{
	padding:10px;
	bottom:20px;
	left:50%;
	transform:translateX(-50%);
	position:fixed;
	display:none;
	border-radius:9px;
	border:1px solid rgba(0, 0, 0, 0.3);
	background-image:linear-gradient(rgba(180,180,180,0.6), rgba(90,90,90,0.6));
	backdrop-filter:blur(2px);
	white-space:nowrap;
}
#toTop
{
	z-index:11;
	top:20px;
	right:15px;
	position:fixed;
	display:none;
	white-space:nowrap;
	font-size:150%;
}
#debugOut
{
	display:none;
	padding:2px;
	top:5px;
	left:5px;
	position:fixed;
	border:2px solid rgba(200, 0, 0, 0.8);
	background:rgba(100,0,0,0.6);
	pointer-events:none;
	white-space:nowrap;
	text-align:left;
	color:white;
}
#debugLog
{
	display:none;
	text-align:left;
	padding:5px 5px 5px 30px;
	border:2px solid rgba(0, 0, 0, 0.25);
	background:#DDDDEE;
	text-indent:-25px;
	font-size:75%;
	user-select:text;
}
#hoverControls button
{
	font-size:200%;
}
.closedTextArea
{
	mask: linear-gradient(to bottom, 
      rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 20%, 
      rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
  ) 100% 50% / 100% 100% repeat-x;
	max-height: 80px
}
.textFadeOut
{
	mask: linear-gradient(to bottom, 
      rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 20%, 
      rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
  ) 100% 50% / 100% 100% repeat-x;
}
.docIn
{
	width:75%;
	height:100px;
}
.issueType, .fixMe
{
	border:1px solid rgba(0, 0, 0, 0.2);
	border-radius:4px;
	background-color:rgba(0, 0, 0, 0.05);
	padding:1px 2px 1px 2px;
	font-size:70%;
	font-family:Arial, Helvetica, sans-serif;
}
.fixMe
{
	border:1px solid rgba(100, 127, 100, 0.85);
	border-radius:7px;
	padding:0px 4px 0px 4px;
	font-weight:700;
	cursor:pointer;
	font-size:80%;
	background-color:rgba(200, 255, 200, 0.85);
}
.fixMe:hover
{
	background-color:rgba(230, 255, 230, 1);
}
.tabSelected, .tabDeselected
{
	border-radius:3px 3px 0px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:140%;
	vertical-align:text-top;
	font-weight:500;
	padding-top:4px;
	padding-bottom:7px;
	padding-left:0px;
	padding-right:0px;
	white-space:nowrap;
	cursor:pointer;
	border:1px solid #000000;
	text-shadow:1px 1px #999999;
}
.tabSelected
{
	background-color:#F5F5F5;
	border-bottom:0px
}
.tabDeselected
{
	background-color:#DDDDDD;
	background-image:linear-gradient(#DDDDDD 93%, #AAAAAA);
}
.cell, .cellNoWrap
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:85%;
	font-weight:500;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
}
.cellNoWrap
{
	white-space:nowrap;
}
.rotate90
{
	transform:rotate(180deg);
	writing-mode:vertical-rl;
}
.highlighterWithDots
{
	text-decoration:underline dotted red;
}
.highlighter, .highlighterWithDots
{
	background-color:#FFFF00;
}
.colourBar
{
	font-family:Arial, Helvetica, sans-serif;
	padding-left:2px;
	font-weight:750;
	white-space:nowrap;
	text-shadow: 0px 0px 1px #FFFFFF, 0px 0px 1px #FFFFFF, 0px 0px 1px #FFFFFF, 0px 0px 1px #FFFFFF;
}
.colourBar b
{
	font-weight:1000;
}
.longTextBox
{
	width:800px;
}
.mediumTextBox
{
	width:550px;
}
.shortTextBox
{
	width:300px;
}
/* BUTTONS */
button
{
	font-weight:500;
	font-size:110%;
	border-radius:9px;
	padding:5px 10px 4px 10px;
	border:1px solid rgba(0, 0, 0, 0.6);
	background-position:bottom;
	background-image:linear-gradient(0deg, rgba(220,220,220,1),white);
	background-size:200px 200px;
	text-shadow:1px 1px 1px rgba(0, 0, 0, 0.5);
	color:black;
	margin-left:4px;
	margin-right:4px;
	transition:background 0.3s ease-out, opacity 0.3s ease-out;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.75);
	opacity:0.95;
}
button:hover
{
	background-position:top;
	opacity:1;
}
button:disabled, button[disabled]
{
	font-weight:750;
	color:#224422;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
	background:#DDFFDD;
	background-position:0px;
	opacity:1;
	cursor:default
}
.iconWithTooltip
{
	position:relative;
	cursor:pointer
}
.iconWithTooltip .tooltipBubble
{
	font-weight:1000;
	border:1px solid rgba(0, 0, 0, 0.5);
	border-radius:6px;
	background-color:#FFFFAA;
	padding:5px;
	font-size:3pt;
	color:rgba(0, 0, 0, 0.9);
	text-align:center;
	visibility:hidden;
	position:absolute;
	bottom:100%;
	z-index:12;
	white-space:nowrap;
	opacity:0;
	pointer-events: none;
	transition:opacity 0.2s, font 0.2s;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.iconWithTooltip:hover .tooltipBubble
{
	visibility:visible;
	font-size:10pt;
	opacity:0.95;
}
@media screen and (max-width:1000px)
{
	body
	{
		font-size:25px;
		margin:10px 25px 70px 25px;
	}
	input[type=checkbox]
	{
		transform:scale(1.5);
	}
	input, select, .clicky, button
	{
		font-size:25px;
	}
	.longTextBox, .mediumTextBox, .shortTextBox
	{
		width:400px;
	}
	label
	{
		font-size:20px;
	}
	textArea
	{
		font-size:25px;
	}
	.docIn
	{
		width:95%;
		height:125px;
	}
	#toTop
	{
		transform:scale(2) translate(-10px, 10px);
	}
	.iconWithTooltip .tooltipBubble
	{
		font-size:6pt;
	}
	.iconWithTooltip:hover .tooltipBubble
	{
		font-size:18pt;
	}
}
.alertBubble
{
	border:1px solid rgba(0, 0, 0, 0.5);
	border-radius:25px;
	background-color:#FF3333;
	padding:0px 1px 1px 0px;
	color:white;
	font-weight:1000;
	font-size:65%;
	text-align:center;
	position:absolute;
	bottom:30%;
	left:70%;
	white-space:nowrap;
	opacity:1;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}